SolidCP/Sources/SolidCP.Providers.Virtualization.HyperVForPC/Service References/MonitoringWebService/MonitoringService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.EnterpriseManagement.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.EnterpriseManagement.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vmserver3.sweetsoft.com.ua/MonitoringWebService/MonitoringService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="MonitoringBaseWithId">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MonitoringBase">
        <xs:sequence>
          <xs:element name="id" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MonitoringBaseWithId" nillable="true" type="tns:MonitoringBaseWithId" />
  <xs:complexType name="MonitoringBase">
    <xs:sequence>
      <xs:element name="displayString" nillable="true" type="xs:string" />
      <xs:element name="lockObject" nillable="true" type="xs:anyType" />
      <xs:element name="managementGroupId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonitoringBase" nillable="true" type="tns:MonitoringBase" />
</xs:schema>