SolidCP/Sources/SolidCP.Providers.Virtualization.HyperVForPC/Service References/MonitoringWebService/MonitoringService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vmserver3.sweetsoft.com.ua/MonitoringWebService/MonitoringService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/System.Reflection" />
  <xs:complexType name="Type">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Reflection" base="q1:MemberInfo">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Type" nillable="true" type="tns:Type" />
  <xs:complexType name="Version">
    <xs:sequence>
      <xs:element name="_Build" type="xs:int" />
      <xs:element name="_Major" type="xs:int" />
      <xs:element name="_Minor" type="xs:int" />
      <xs:element name="_Revision" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Version" nillable="true" type="tns:Version" />
</xs:schema>