SolidCP.Installer/Sources/SolidCP.Updater/Web References/Services/InstallerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://installer.solidcp.com/services" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://installer.solidcp.com/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://installer.solidcp.com/services">
      <s:element name="GetAvailableComponents">
        <s:complexType />
      </s:element>
      <s:element name="GetAvailableComponentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvailableComponentsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileChunk">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="offset" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileChunkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileChunkResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileSize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileSizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetFileSizeResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAvailableComponentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvailableComponents" />
  </wsdl:message>
  <wsdl:message name="GetAvailableComponentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvailableComponentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileChunkSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileChunk" />
  </wsdl:message>
  <wsdl:message name="GetFileChunkSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileChunkResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileSizeSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileSize" />
  </wsdl:message>
  <wsdl:message name="GetFileSizeSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileSizeResponse" />
  </wsdl:message>
  <wsdl:portType name="InstallerServiceSoap">
    <wsdl:operation name="GetAvailableComponents">
      <wsdl:input message="tns:GetAvailableComponentsSoapIn" />
      <wsdl:output message="tns:GetAvailableComponentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileChunk">
      <wsdl:input message="tns:GetFileChunkSoapIn" />
      <wsdl:output message="tns:GetFileChunkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileSize">
      <wsdl:input message="tns:GetFileSizeSoapIn" />
      <wsdl:output message="tns:GetFileSizeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InstallerServiceSoap" type="tns:InstallerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvailableComponents">
      <soap:operation soapAction="http://installer.solidcp.com/services/GetAvailableComponents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileChunk">
      <soap:operation soapAction="http://installer.solidcp.com/services/GetFileChunk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSize">
      <soap:operation soapAction="http://installer.solidcp.com/services/GetFileSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InstallerServiceSoap12" type="tns:InstallerServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvailableComponents">
      <soap12:operation soapAction="http://installer.solidcp.com/services/GetAvailableComponents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileChunk">
      <soap12:operation soapAction="http://installer.solidcp.com/services/GetFileChunk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSize">
      <soap12:operation soapAction="http://installer.solidcp.com/services/GetFileSize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InstallerService">
    <wsdl:port name="InstallerServiceSoap" binding="tns:InstallerServiceSoap">
      <soap:address location="http://localhost/SolidCPSite/Services/InstallerService-1.0.asmx" />
    </wsdl:port>
    <wsdl:port name="InstallerServiceSoap12" binding="tns:InstallerServiceSoap12">
      <soap12:address location="http://localhost/SolidCPSite/Services/InstallerService-1.0.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>