SolidCP/Sources/SolidCP.Providers.Virtualization.HyperVForPC/Service References/VirtualizationWebService/VirtualizationService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Microsoft.Hosting.FaultContracts/2007/04" elementFormDefault="qualified" targetNamespace="http://Microsoft.Hosting.FaultContracts/2007/04" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HostingServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HostingServiceFault" nillable="true" type="tns:HostingServiceFault" />
</xs:schema>